.styled-from-outside {
    display: contents;

    img {
        max-width: 100%;
        margin-left: -20px;
        height: auto;
    }

    a {
        color: #8e179b;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        border-left: 5px solid #344966;
        background: rgba(255, 255, 255, 0.2);
        color: #000;
        border-radius: 0 5px 5px 0;
        font-style: italic;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    pre {
        background: rgba(255, 255, 255, 0.23);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        border-radius: 5px;
        border-left: 5px solid #344966;
        margin-left:50%;
        transform: translateX(-50%);
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        width: 90%;
        overflow: auto;
       // padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }

    h2 {
        font-family: "Exo 2", sans-serif;
        text-transform: uppercase;
            margin-left: -16px;
            background-color: rgba(255, 255, 255, 0.1);
            display: flex;
            padding: 10px 20px;
            position: relative;
            align-items: center;
            justify-content: space-between;
            max-width: 30%;
            border-radius: 0 15px 15px 0;
            box-shadow: rgba(11, 22, 32, 0.63) 3px 3px 6px 0px inset, rgba(19,10,10,0.25) -3px -3px 6px 1px inset;

    }

    h1 {
        font-family: "Exo 2", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        border-left: 5px solid #1C3041;
        border-bottom: #1C3041 2px solid;
        margin-bottom: 30px;
        padding-left: 10px;
    }
    p {
        text-indent: 20px;
        text-justify: inter-word;
    }
}

.project {
    a {
        color: #587ea0;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        &:hover {
            color: #9bb4d7;
        }
    }
}


    @media (max-width: 768px) {
        .styled-from-outside {
            h2 {
                max-width: 100%;
                margin-left: 0;
                border-radius: 0;
                box-shadow: none;
                text-align: center;
            }
            h1 {
                font-size: 1.5rem;
            }

        }
    }


